includes:
    - secure/vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - phpstan-baseline.neon
parameters:
    level: 5
    paths:
        - includes
        - secure/scripts
        - generate.php
        - health.php
        - index.php
    stubFiles:
        - phpstan/function-stubs.php
    tmpDir: storage/phpstan
    excludePaths:
        - secure/vendor
